body {
    background-color: aliceblue;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    text-shadow: 3px 3px 5px skyblue;
    color: blue;
}

p {
    font-family: "휴먼편지체";
    font-size: 1em;
    text-indent: 1em;
}

header {
    border-bottom-style : solid;
    border-bottom-width: 1px;
}

ul {
    border: 1px dotted black;
}



