body {
    padding-top: 0px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    z-index: 10;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-link {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.list-link:hover, .list-link:target {
    color: #000000;
    background-color: #ffffff;
}

.cont-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 80px);
    text-align: left;
    padding: 60px 20px;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cont-section-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 80px);
    text-align: center;
    padding: 60px 20px;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

audio {
    margin-bottom: 20px; /* 오디오 밑에 여백 추가 */
}

hr {
    border: none;
    border: 2px solid #333; /* 두께와 색상 설정 */
    margin-top: 0px;
    margin-bottom: 20px; 
    width: 100%; /* 너비를 100%로 설정 */
}

h2 {
    align-self: flex-start; /* h2 요소를 왼쪽 정렬 */
    text-align: left;
}

#footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
}

.btn-moveTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-moveTop:hover {
    background-color: #b5b2b2;
    color: #000000;
}

#slide-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#slide-album {
    position: relative;
    width: 300px;
    height: 400px; /* 높이를 400으로 설정 */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* 앨범과 리스트 사이에 여백 추가 */
}

#slide-images {
    display: flex;
    transition: transform 0.5s ease-out;
}

#slide-images img {
    width: 300px; /* 너비를 300으로 설정 */
    height: 400px; /* 높이를 400으로 설정 */
    object-fit: fill;
}

#btn-next,
#btn-next:active,
#btn-next:focus {
    position: absolute;
    bottom: 10px; /* 하단으로 이동 */
    right: 10px;
    padding: 10px 14px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#btn-prev,
#btn-prev:active,
#btn-prev:focus {
    position: absolute;
    bottom: 10px; /* 하단으로 이동 */
    left: 10px;
    padding: 10px 14px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#btn-next:disabled,
#btn-prev:disabled {
    background-color: lightgray;
}

#btn-next:hover,
#btn-prev:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    transition: 0.3s ease-out;
}

.info-about {
    text-align: left;
    max-width: 1000px; /* 너비를 앨범과 맞춤 */
    margin-top: 0px; /* 상단 여백 줄임 */
    height: 400px; /* 높이를 앨범과 맞춤 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 중앙 정렬 */
}

.info-about ul {
    list-style: none; /* 리스트 기본 스타일 제거 */
    padding: 0;
    margin: 0;
}

.info-about ul li {
    background-color: #f5f5f5; /* 리스트 항목 배경 색상 */
    color: #333; /* 리스트 항목 텍스트 색상 */
    margin-bottom: 10px; /* 리스트 항목 간격 */
    padding: 10px 15px; /* 리스트 항목 패딩 */
    border-left: 5px solid #000; /* 리스트 항목 왼쪽 테두리 */
    transition: background-color 0.3s, color 0.3s; /* 전환 효과 */
}

.info-about ul li strong {
    color: #000; /* 강조 텍스트 색상 */
}

.info-about ul li:hover {
    background-color: #e0e0e0; /* 호버 시 배경 색상 */
}


/*Skill*/
.skills-category {
    margin-bottom: 40px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
}

.skill {
    text-align: center;
    margin: 20px;
}

.large-icon {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.extra-large-icon {
    width: 270px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.skill-bar {
    width: 150px;
    height: 15px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px auto;
}

.skill-level {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
}



/* Portfolio */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.project-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.project-card h3 {
    margin: 15px 0 10px;
    font-size: 1.5em;
    color: #333;
}

.project-card p {
    font-size: 1em;
    color: #666;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #333333;
}
